In [1]:
#Importing necessary libraries

import requests
from bs4 import BeautifulSoup as soup

In [2]:
url='https://www.tripadvisor.in/'

In [3]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'}

In [4]:
response=requests.get(url,headers=headers)

In [5]:
jim=soup(response.content,'html.parser')

In [6]:
containers=jim.find_all('div',{'class':'HbQoi z'})

In [7]:
len(containers)

7

In [8]:
for i in containers:
    name=i.find_all('div',{'class':'biGQs _P fiohW alXOW NwcxK GzNcM ytVPx UTQMg RnEEZ ngXxk'})
    rentals=i.find_all('div',{'class':'biGQs _P fiohW fOtGX'})

In [9]:
name = [i.get_text() for i in name]
rentals = [i.get_text() for i in rentals]

In [10]:
import pandas as pd

In [11]:
#Transposing since data is arranged horizontally by default
df=pd.DataFrame([name,rentals]).transpose()

In [14]:
df.columns=['Name','Rentals']

In [15]:
df

                               Name      Rentals
0               Rentals in Madikeri  107 rentals
1        Rentals in Mysuru (Mysore)   36 rentals
2             Rentals in Sakleshpur   15 rentals
3  Rentals in Ooty (Udhagamandalam)   36 rentals
4            Rentals in Pondicherry   47 rentals
5               Rentals in Mudigere   18 rentals
6            Rentals in Kushalnagar   17 rentals
7                Rentals in Coonoor   20 rentals
8               Rentals in Yelagiri   10 rentals

In [84]:
df.to_excel('rentals.xlsx')